numpy
langdetect
SpeechRecognition
googletrans
requests
pandas
pydub
transformers
torch
torchvision
serpapi
google-search-results
python-dotenv
assemblyai
nest_asyncio
gliner==0.2.13
audio-extract
cloudinary
flask
flask-cors
serpapi
langchain-community
twikit
yt_dlp
audio_extract
pymongo
triton==2.0.0
whisper_at