numpy
langdetect
SpeechRecognition
googletrans

pandas
transformers
torch
torchvision

python-dotenv
assemblyai

langchain_community
google-search-results
nest_asyncio
gliner==0.2.13
python-dotenv

cloudinary
flask
flask_cors